.rate-container > i {
  float: right;
}
.rate-container{
  float:left;
}
.rate-container > i:HOVER,
.rate-container > i:HOVER ~ i {
  color: gold;
}
label{
  font-weight: bold;
  margin-bottom:0px;
}
.container{  
padding:0px 20px;  
margin: 0px;
  }
  .required:after {
    content:" *";
    color: red;
  } 
  body{
    padding:20px;
  }
 .field{
   margin-bottom:10px;  
 }
 